@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-blue-50;
    @apply disabled:text-gray-200 hover:disabled:bg-blue-50;
    @apply hover:bg-blue-100 focus:outline-none;
    @apply focus:ring-blue-400 focus:ring;
    @apply border rounded-md py-2 px-4;
  }

  input {
    @apply border rounded p-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  .box {
    @apply border rounded-md p-4;
  }

  .auto-grid-sm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .auto-grid-md {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .auto-grid-lg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  .indented-list {
    padding: 0.5rem;
    @apply flex flex-col gap-2;
  }

  .indented-list-item {
    padding: 0 1rem 0.5rem 1rem;
    @apply border-gray-200 border-l flex flex-col gap-2;
    border-left: solid 2px lightgrey;
  }

  .board-message {
    white-space: pre-wrap;
  }

  .board-message-timestamp {
    @apply text-sm text-gray-400;
  }
}
